<div class="item">
    <div>Avatar URL</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://" value="{{ student.avatar_url}}">
    </div>
</div>

<div class="item">
    <div>Nome completo</div>
    <div>
        <input type="text" name="name" value="{{ student.name}}">
    </div>
</div>

<div class="item">
    <div>E-mail</div>
    <div>
        <input type="text" name="email" value="{{ student.email}}">
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input type="date" name="birth_date" value="{{ student.birth_date }}">
    </div>
</div>

<div class="item">
    <div>Ano escolar</div>
    <div>
        <select name="education_level">
            <option value="5F" {% if students.education_level == "5F"%} selected {% endif %}>5º ano</option>
            <option value="6F" {% if students.education_level == "6F"%} selected {% endif %}>6º ano</option>
            <option value="7F" {% if students.education_level == "7F"%} selected {% endif %}>7º ano</option>
            <option value="8F" {% if students.education_level == "8F"%} selected {% endif %}>8º ano</option>
            <option value="9F" {% if students.education_level == "9F"%} selected {% endif %}>9º ano</option>
            <option value="1M" {% if students.education_level == "1M"%} selected {% endif %}>1º ensino médio</option>
            <option value="2M" {% if students.education_level == "2M"%} selected {% endif %}>2º ensino médio</option>
            <option value="3M" {% if students.education_level == "3M"%} selected {% endif %}>3º ensino médio</option>
        </select>
    </div>
</div>

<div class="item">
    <div>Carga horário</div>
    <div>
        <input type="number" name="workload" value="{{ student.workload }}">
    </div>
</div>

<div class="item">
    <div>Professor</div>
    <div>
        <select name="teacher">
            {% for teacher in teacherOptions %}
                <option value="{{ teacher.id }}" {% if student.teacher_id == teacher.id %} selected {% endif %}>
                    {{ teacher.name }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>

<button type="submit">Salvar</button>